# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage

# Production
dist/
build

# Misc
.DS_Store

# Local env files
.env
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea
.vscode
*.swp
*.swo

# System
Thumbs.db

# TypeScript
*.tsbuildinfo 